h1{
    margin-left: 5%;
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px 0 #122135, 2px -2px 0 #122135, -2px 2px 0 #122135, -2px -2px 0 #122135, 2px 0px 0 #122135, 0px 2px 0 #122135, -2px 0px 0 #122135, 0px -2px 0 #122135, 4px 4px 3px rgba(58,58,58,0.72);
}

ion-img{
    border-radius: 15% !important;
    overflow: hidden;
    position: absolute;
  
}

#btnHome{
   
    width: 12%;
    height: auto;
    position: absolute;
    top:  70%;
    left: 44%;
}