

<ion-content class="background">
  
  
  <ion-slides pager="false" swipeGesture="false" (ionSlideDidChange)="slideChanged($event)" [options]="{ allowTouchMove: false }">
    
    <ion-slide *ngFor="let c of sliders">
        <div class="box">
          <ion-grid>
            <ion-row>
              <ion-col class="titulo" size="10">
              <h1>{{ c.titulo}}</h1>
              </ion-col>
              <ion-col>
                <ion-img src="/assets/imagenes/sonido.png" (click)="reproducir(c.audio)" class="botonSonido"></ion-img>
              </ion-col>
            </ion-row>
            <ion-row class="columnaImagenes">
              <ion-col *ngFor="let i of c.imagen1">
                <div >
                <ion-img class="imagenes1" [src]="i.img" (click)="comprobar(i.id,i.correcto,c.pagina)"></ion-img>
              </div>
              </ion-col>
            </ion-row>
            
          </ion-grid>     
        </div>

    </ion-slide>
  


  </ion-slides>

  <!--
  <ion-img src="/assets/imagenes/atras.png" (click)="prev()" class="botonA"></ion-img>
  <ion-img src="/assets/imagenes/siguiente.png" (click)="next()" class="botonS"></ion-img>-->
  <ion-img id="btnHome" src="/assets/imagenes/home.png" (click)="irHome()"></ion-img>
  
 


</ion-content>