/*ion-slide{
    display: block;
}*/

h1{
    color: #ffffff;
    font-size: 20px;
}

ion-img{
  width: 75%;
  height: auto;
  margin-right: 8%;
}
/*
ion-content {
    --overflow: hidden;
}*/

ion-row{
    
    padding-top: 2%;
    //padding-left: 5%;
  
    
}
.imagenes1{
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: 13%;

}



.footer{
    background-color: yellow;
    height: 50px;

}

.atras{
    margin-right: 50%;
}
.siguiente{
    margin-left: 50%;
}



.botonA{
    width: 10%;
    height: auto;
    position: absolute;
    top:  75%;
    left: 5%;
    
}
.botonS{
    width: 10%;
    height: auto;
    position: absolute;
    top:  75%;
    left: 84%;
    
}
.botonSonido{
    width: 21%;
    height: auto;
    position: absolute;;
    //position: absolute;
    //top: 2%;
    left: 60%;
    
}
#btnHome{
   
    width: 11%;
    height: auto;
    position: absolute;
    top:  75%;
    left: 44%;
}






 