/*ion-slide{
    display: block;
}*/

h1{
    color: #ffffff;
    font-size: 20px;
}




.imagenes1{
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    //margin-left: 13%;
    margin-top: 30%;

}


.atras{
    margin-right: 50%;
}
.siguiente{
    margin-left: 50%;
}



.botonA{
    width: 10%;
    height: auto;
    position: absolute;
    top:  75%;
    left: 5%;
    
}
.botonS{
    width: 10%;
    height: auto;
    position: absolute;
    top:  75%;
    left: 84%;
    
}
.botonSonido{
    height: 90%;
    width: auto;
    position: absolute;;
    //position: absolute;
    //top: 2%;
    //left: 50%;
    
}
#btnHome{
   
    width: 11%;
    height: auto;
    position: absolute;
    top:  75%;
    left: 44%;
}



.col1{
    border-radius: 528px;
}
.titulo{
    //background-color:#3a4c53;
    text-align: left
    //border: 4px groove #ffffff;

}

.imgPrincipal{
    border-radius: 15% !important;
    overflow: hidden;
}











 